<html>
   <head>
      <title>Nomad Library</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
   </head>
   <body>

      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
            <div class="row">
               <span class="col-xs-1"></span>
               <h1 class="nav_header col-xs-9"><span>Nomad Library</span></h1></a>
               <div class="navbox col-xs-2">
                  <a class="navlink" href="/profile">Register</a>
               </div>
            </div>
         </div>
      </nav>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>