<% include ./partials/header %>

<form name="login_form" action="/authenticate" method="POST">
	<input name="name" placeholder="Name">
	<input name="password" placeholder="Password">
	<input type="submit" class="submit">
</form>

